body{
    margin: 0px;
}
.block{
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    background: rgb(248, 141, 102);
    margin: 5%;
}

.block .inline{
    box-sizing: border-box;
    position: relative;
    top: 10%;
    width: 400px;
    height: 130px;
    background: rgb(133, 175, 252);
    padding: 20px;
    margin: 50px;
}
#bt1{
    position:relative ;
    width: 65px;
    height: 30px;
    top: 10px;
    left: 50px;
    border-radius: 3px;
    background: rgb(228, 73, 99);
    color: white;
    
}

#bt2{
    position:relative ;    
    width: 65px;
    height: 30px;
    top: 10px;
    left: 50px;
    border-radius: 3px;
    background: rgb(127, 138, 240);
    color: white;
    
    }
img{
    box-sizing: border-box;
    block-size: 30%;
    position: relative;
    top: -70px;
    left: 50px;
    display: none;
    
}
.block:hover img{
    display:block;
}
